[submodule "miniaudio"]
	path = examples/miniaudio
	url = https://github.com/dr-soft/miniaudio.git
[submodule "tinyfiledialogs"]
	path = examples/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
